html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top:60px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 100%;
  max-width: 1200px;
  
  font-family: Arial, Helvetica, sans-serif;
  color:black;

  border-bottom: 70px;
}

/*HEADER*/
header { 
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  
  width: 100%;
  height: 100%;
  max-width: 1200px;
  max-height: 60px;
  
  background-color: #14597f;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #0b2d3d;
}

header img {
  position: absolute;
  
  max-height: 100%;
  max-width: 100%;
}

header nav {
  float: right;
  position: relative;
}

header li {
  display: inline-block;
  color: white;
}

header li a {
  padding: 8px;
  
  color: white;
  text-decoration: none;
}

header .shopping-cart {
  position: relative;
  
  color: #14597f;
}

header .shopping-cart .count {
  position: absolute;  
  bottom: -12px;
  right: -4px;
  
  font-size:10px;  
  text-align: center;
  
  background: #d9534f;
  color:white;
  border-radius: 20px 20px 20px 20px;
  padding:2px 5px;
}

header a.active{
  background-color: #1fb5e9;
  border-radius: 4px;
}


/*FOOTER*/
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  
  max-width: 1200px;
  height: 70px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  
  background-color: #eee;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #ccc;
}

footer p {
	text-align: center;
}


/*INDEX.HTML*/

#index #left_box {
  display: inline-block;
  float: left;
}

#index img{
  display: inline-block;
  float: right;
  width: 40%;
  height: 40%;
} 


/*PRODUCTS.HTML*/
/*Side Bar*/
#products_side_bars {
  width: 20%;
  padding-right: 5%;
  display: inline-block;
  float: left;
}

#product-categories button{
  display: block;
  padding: 10px;
  width: 100%;

  border: 1px solid #999;
  background-color: #fff;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  
  outline: 0;
}
#product-categories button:first-child {
  border-radius: 4px 4px 0 0;
}
#product-categories button:last-child {
  border-radius: 0 0 4px 4px;
}
#product-categories button:not(:last-child) {
  border-bottom: none;
}
#product-categories button:hover {
  background-color: #f3f3f3;
}
#product-categories .selected {
  background-color: #ddf2fb;
}

#product-criteria button{
  display: block;
  padding: 10px;
  width: 100%;

  border: 1px solid #999;
  background-color: #fff;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  
  outline: 0;
}
#product-criteria button:first-child {
  border-radius: 4px 4px 0 0;
}
#product-criteria button:last-child {
  border-radius: 0 0 4px 4px;
}
#product-criteria button:not(:last-child) {
  border-bottom: none;
}
#product-criteria button:hover {
  background-color: #f3f3f3;
}

#product-criteria .selected {
  background-color: #ddf2fb;
}

/*Main Pannel*/
#products_main_pannel {
  display: inline-block; 
  width: 75%;
  float: right
}

#products_main_pannel h1 {
  display: inline-block;
  float: left;
}

#products_main_pannel p {
  display: inline-block;
  float: right;
}

#products_main_pannel .clear {
  clear: both;
}

#products_main_pannel #products-list article{
  display: inline;
  float: left;
  width: 31%;
  margin: 1%;
  
  border: 1px solid #999;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

#products_main_pannel #products-list article:hover{
  background-color: #f3f3f3;
}

#products_main_pannel #products-list img{
  display: block;  
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

#products_main_pannel #products-list h3{
  margin-left: 5px;
  
  color: black;
  text-decoration: none;
}

#products_main_pannel #products-list a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

#products_main_pannel #products-list p{
  bottom: 0;
  right: 0;
  
  margin-right: 5px;
  
  color: black;
}

/*PRODUCT.HTML*/
#product .wrapper {
  display: inline;
  float: right;
  overflow: auto;
}

#product p {
  text-align: justify;	
}

#product form p {
  display: inline;  
  float: left;
}

#product hr {
  border: none;
  border-top: 1px dotted black;
}

/*CONTACT.HTML*/
#contact .wrapper {
  padding: 100px;
  overflow: auto;
  
  border: 1px solid #999999 ;
  border-radius: 4px;
}

/*SHOPPING-CART.HTML*/
#shopping-cart table {
  width: 100%;
  
  border-collapse: collapse;
  border-bottom: 1px solid black;
  
  table-layout: fixed;
}

#shopping-cart a {
  color: #1fb5e9;
}

#shopping-cart thead {
  border-bottom: 1px solid black;
}

#shopping-cart thead th:nth-child(1) {
  width: 30px;
}

#shopping-cart thead th:nth-child(2), tbody td:nth-child(2) {
  width: 20%;

  text-align: left;
}

#shopping-cart thead th:nth-child(3), tbody td:nth-child(3) {
  width: 20%;
  
  text-align: center;
}

#shopping-cart thead th:nth-child(4), tbody td:nth-child(4) {
  width: 20%;
  
  text-align: center;
}

#shopping-cart thead th:nth-child(5), tbody td:nth-child(5) {
  width: 20%;
  
  text-align: right;
}

#shopping-cart th, td {
  padding: 20px;
}

#shopping-cart table button {
  width: 100%;
  max-width: 20px;
  
  background: #dddddd;
  border-radius: 50%;
  border: 1px solid #dddddd;
}

#shopping-cart table button:hover {
  background: #bbbbbb;
  
  border: 1px solid #bbbbbb;
}

#shopping-cart p {
  text-align: right;
}

#shopping-cart a.button {
  float: right;
}

/*ORDER.HTML*/
#order form button{
  float:right;
}

#order form input{
  width:95%;
}

#order label {
  font-weight: bold;
}

#order input {
  margin-top: 10px;
  margin-bottom: 10px;
}

#order #paiement {
  margin-top: 180px;
}

/* COLUMN CLASS */
[class*="col-"] {
  float: left;
}
.col-1 {width: 50%;}
.col-2 {width: 33.33%; text-align:center; font-size:16px;}

/* FORM STYLE */
form .form-control {
  padding: 8px;
  border: 1px solid #999999 ;
  border-radius: 4px;
}

/* BUTTON STYLE */
.button {
  margin-top: 10px;
  background-color: #14597f;
  border-color: #0b2d3d;
  color: white;
  border: 1px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.button:hover{
  background-color: #1fb5e9;
}